@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Regular.eot');
	src: url('../fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Raleway-Regular.woff') format('woff'),
	url('../fonts/Raleway-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Bold.eot');
	src: url('../fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Raleway-Bold.woff') format('woff'),
	url('../fonts/Raleway-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-ExtraLight.eot');
	src: url('../fonts/Raleway-ExtraLight.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Raleway-ExtraLight.woff') format('woff'),
	url('../fonts/Raleway-ExtraLight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-ExtraBold.eot');
	src: url('../fonts/Raleway-ExtraBold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Raleway-ExtraBold.woff') format('woff'),
	url('../fonts/Raleway-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Medium.eot');
	src: url('../fonts/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Raleway-Medium.woff') format('woff'),
	url('../fonts/Raleway-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Black.eot');
	src: url('../fonts/Raleway-Black.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Raleway-Black.woff') format('woff'),
	url('../fonts/Raleway-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Light.eot');
	src: url('../fonts/Raleway-Light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Raleway-Light.woff') format('woff'),
	url('../fonts/Raleway-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-SemiBold.eot');
	src: url('../fonts/Raleway-SemiBold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Raleway-SemiBold.woff') format('woff'),
	url('../fonts/Raleway-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}
/*RESET*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 10px;
	font-family: 'Raleway';
	line-height: 1.2;
}
input, button {
	outline: none;
}
.center {
	text-align: center;
}
.up {
	text-transform: uppercase;
}
.container {
	width: 100%;
	max-width: 1280px;
	margin: auto;
	overflow: hidden;
}

/*HEADER*/
header {
	background-color: rgba(12, 1, 5,0.5);
	color: #f6f1bf;
	font-size: 1.9rem;
	padding: 10px 0;
	font-weight: 300;
	height: 64px;
	position: fixed;
	top: 0;
	z-index: 99;
	width: 100%;
	max-width: 1280px;
}
header img {
	margin: .9rem 1.8rem;
}
.flex-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.bg-black {
	background-color: rgb(12, 1, 5);
	height: 64px; 
}

/*Content Header*/
.content-header {
	background-image: url(../img/header-image.png);
	background-repeat: no-repeat;
	height: 682px;
	position: relative;
}
.content-header .right-block {
	margin-top: 30px;
	width: 227px;
	color: #f6f1be;
	font-size: 2.5rem;
	float: right;
	position: absolute;
	top: 0;
	right: 0;
	margin-right: 70px;
	text-align: center;
}
.content-header .right-block img{
	margin: 22px 0 47px;
}
.block-header {
	margin-top: 23px;
	margin-bottom: 20px;
	font-weight: 900;
}
.block-header h3 {
	font-size: 2rem;
}
.block-header h1 {
	font-size: 2.4rem;
}
/*MENU*/
#menu {
	display: none;
	position: fixed;
	z-index: 99;
}
.menu {
	background-color: rgba(6, 6, 6, 0.77);
	height: auto;
	width: 248px;
	position: relative;
	padding: 20px 0;
}
.menu ul>li {
	list-style: none;
	font-weight: 300;
	font-size: 2.4rem;
	margin: 30px auto;
}
.style-link {
	color: #f3eebd;
	text-decoration: none;
}
.menu ul a {
	display: block;
}

/*BLOCK*/
.content-header .dark {
	background: url(../img/header-dark.png) no-repeat;
	position: absolute;
	top: 0;
	right: 0;
	height: 291px;
	width: 412px;
}
#form_1, #form_2 {
	background-color: rgba(255, 224, 146, 0.84);
	text-align: center;
}
#form_1 input {
	padding: 10px;
	margin-bottom: 11px;
	text-overflow: ellipsis;
}
#form_1 input::-webkit-input-placeholder{
	color:  #1a0f04;
}
.btn {
	cursor: pointer;
	background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(105, 104, 104, 0.1));
}
.btn:hover {
	box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
	background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
	background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(105, 104, 104, 0.4));
}
input
#form_1 .header {
	color: #2e1810;
	font-size: 2.1rem;
	font-weight: 900;
	padding: 27px 12px;
}
.btn {
	border: 0;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
}
#form_1 .btn-blue {
	background-color: rgb(132, 189, 209);
	padding: 15px 35px;
	color: #fffffc;
	font-size: 3.2rem;
	margin-top: 11px;
	margin-bottom: 30px;
}

/*STEP ARROW*/
.step {
	position: absolute;
	bottom: 0;
	margin-bottom: 30px;
	margin-left: calc(50% - 50% / 2);
	height: 2px;
	width: 50%;
	background-color: rgb(249, 246, 214);
}
.step .romb {
	position: absolute;
	width: 30px;
	height: 30px;
	background-color: rgb(249, 246, 214);
	transform: rotate(45deg);
	left: 50%;
	bottom: -14px;
}
.step .romb a {
	display: block;
	content: '';
	background-image: url(../img/icons/arrow.png);
	transform: rotate(-45deg);
	background-repeat: no-repeat;
	background-position: 4px bottom;
	height: 24px;
}
/*CONTENT*/
section.content {
	background-color: #f9f6d6;
}
.content .wrapper {
	width: calc(100% - 140px);
	margin: auto;
	padding-top: 25px;
}

/*Why-we*/

/*HEADER*/
.why-we {
	background-image: url(../img/table.png);
	background-repeat: no-repeat;
}
.why-we img {
	width: 100%;
}
.why-we .top-header {
	padding-bottom: 100px;
}
.why-we .top-header .medium {
	font-size: 3.8rem;
	font-weight: 500;
	color: #636259;
}
.why-we .top-header .bold {
	font-size: 4.8rem;
	font-weight: 600;
}
.why-we .block-content {
	width: 22%;
	min-width: 200px;
	margin: 0 auto;
	border: 3px solid rgb(98, 98, 98);
	position: relative;
}
.why-we .block-content.line:before,
.why-we .block-content.line:after {
	background-color: rgb(98, 98, 98);
	width: 70%;
}
.why-we .block-content.line:before {
	left: -60%;
}
.why-we .block-content.line:after {
	right: -60%;
}

/*CONTENT*/
.wrapper .content {
	width: 100%;
	color: #242322;
	overflow: hidden;
}
.why-we blockquote {
	font-size: 4.5rem;
	color: #3c0a0d;
	font-weight: 600;
	text-align: center;
	margin: 135px auto;
}
.why-we blockquote i {
	display: block;
	text-align: left;
}
.why-we blockquote i.icon-second_q {
	display: block;
	text-align: right;
	padding-top: 25px;
}
.col-left {
	float: left;
}
.col-right {
	float: right;
}
.block-col {
	display: inline-block;
}
.icon {
	font-size: 6rem;
}
.mb5 {
	margin-bottom: 5px;
}
.clearfix {
	clear: both;
}
.why-we .block {
	padding-bottom: 110px;
}

.why-we .block-img {
	padding: 10px 15px 0 0;
	border-right: 1px solid #282828;
}
.why-we .block-description {
	font-size: 1.5rem;
	font-weight: 500;
	padding-left: 10px;
	padding-top: 30px;
	padding-bottom: 5px;
}
.why-we .block-description:after {
	content: '';
	display: block;
	width: 150px;
	height: 1px;
	background-color: #282828;
	margin-left: -25px;
	margin-bottom: 5px;
}

/*OFFICE*/
/*BACKGROUND*/
.office .bg {
	position: relative;
	background-repeat: no-repeat;
	background-position: top center;
}
.office .bg-img1 {
	background-image: url(../img/office1.png);
	height: 453px;
}
.office .bg-img2 {
	background-image: url(../img/office2.png);
	height: 457px;
}
.office .bg-img3 {
	background-image: url(../img/office3.png);
	height: 468px;
}
.double {
	background-repeat: no-repeat;
	height: 100%;
}
.orange-bg {
	background: linear-gradient(to right, transparent 0%,rgba(255, 138, 8, .94) 100%);
	
}
.burgundy-bg {
	background: linear-gradient(to left, transparent 0%,rgba(92,29,32,.94) 100%);
}
.blue-bg {
	background: linear-gradient(to right, transparent 0%,rgba(172, 200, 212, .94) 100%);
}

/*BLOCK*/
.office aside {
	position: absolute;
	max-width: 460px;
	top: 32px;
	color: #fffffc;
}
#office1, #office3 {
	right: 30px;
}
#office2 {
	left: 30px;
}

.office .header-office {
	position: relative;
	font-size: 3.5rem;
	font-weight: 900;
	padding: 16px 23px;
	border: 3px solid rgb(248, 245, 214);
	text-align: center;
	max-width: 360px;
	margin: auto;
	width: 80%;
}
.line:before {
	content: '';
	display: block;
	position: absolute;
	height: 1px;
	width: 60px;
	left: -50px;
	top: 50%;
	background-color: rgb(248, 245, 214);
}
.line:after {
	content: '';
	display: block;
	position: absolute;
	height: 1px;
	width: 60px;
	right: -50px;
	top: 50%;
	background-color: rgb(248, 245, 214);
}
.office .body-office{
	font-size: 2.4rem;
	margin: 40px 0;
	position: relative;
}
.office .body-office .more {
	float: right;
	color: #fffffc;
	text-decoration: none;
}
.office .small {
	font-size: 60%;
	vertical-align: 25%;
}
.office button {
	font-weight: 900;
	font-size: 3.8rem;
	background-color: rgba(255, 255, 255, .68);
	color: #2e2e2b;
	padding: 21px 75px;
}

/*OFFICE*/
.office-block {
	height: 855px;
	position: relative;
}
.bg-office {
	background-image: url(../img/bg-office.png);
	background-repeat: no-repeat;
	opacity: .66;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}
.layout-office {
	background-image: url(../img/office.png);
	background-position: left top;
}
.office-content {
	border: 5px solid rgb(206, 137, 60);
	width: 70%;
	height: 836px;
	margin: 35px auto;
	position: relative;
}
.office-content aside {
	position: absolute;
	right: -6%;
	top: 200px;
}
#form_2 {
	border-radius: 10px;
	background-color: rgba(215, 142, 63, .83);
	max-width: 460px;
	height: 420px;
	color: rgb(252, 252, 249);
}
#form_2 .header-block {
	position: relative;
	padding-top: 30px;
	padding-bottom: 10px;
	/*width: 315px;*/
	margin: auto;
}
.bold {
	font-weight: bold;
	font-size: 4rem;
}
.medium {
	font-weight: 500;
	font-size: 3rem;
}
.extra {
	font-weight: 800;
	font-size: 4rem;
}
#form_2 input {
	font-weight: 500;
	font-size: 2.4rem;
	padding: 12px;
	width: 85%;
	margin-top: 5px;
}
#form_2 input::-webkit-input-placeholder{
	color: #666663;
}
#form_2 .btn-blue {
	background-color: rgb(0, 169, 218);
	color: #fefefb;
	padding: 15px;
	font-size: 3.6rem;
	margin-top: 18px;
	width: 63%;
	margin-bottom: 0;
}
.female {
	position: absolute;
	bottom: 0;
	left: -105px;
}
img.female {
	width: 80%;
}

/*STATISTIC BLOCK*/
.statistic {
	margin: 0 8px;
	background-image: url(../img/small_banner.png);
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	color: #f9f6d6;
}
.statistic .stat-block {
	width: calc(100% / 4);
	height: 267px;
}
.statistic #stat-space {
	background-image: url(../img/orange-space.png);
	background-repeat: no-repeat;
}
.statistic #stat-offices {
	background-image: url(../img/burgundy-offices.png);
	background-repeat: no-repeat;
}

.statistic #stat-computers {
	background-image: url(../img/blue-computers.png);
	background-repeat: no-repeat;
}

.statistic #stat-customers {
	background-image: url(../img/purple-customers.png);
	background-repeat: no-repeat;
}
.statistic .stat-header {
	width: 93%;
	height: 98px;
	margin: 48px auto 26px auto;
	padding-top: 10px;
}
#stat-space .stat-header {
	background-color: rgba(216, 150, 77, .83);
}
#stat-offices .stat-header {
	background-color: rgba(95, 29, 31, .83);
}
#stat-computers .stat-header {
	background-color: rgba(172, 200, 212, .83);
}
#stat-customers .stat-header {
	background-color: rgba(169, 134, 180, .83);
}
.statistic .stat-footer {
	border: 5px solid rgb(249, 246, 214);
	padding: 20px;
	width: 65%;
	margin: auto;
	position: relative;
}
.statistic .stat-footer.line:before,
.statistic .stat-footer.line:after {
	background-color: rgb(249, 246, 214);
	width: 20%;
	height: 2px;
}
.statistic .stat-footer.line:before {
	left: -15%;
}
.statistic .stat-footer.line:after {
	right: -15%;
}
.statistic span {
	font-weight: bold;
	font-size: 2.7rem;
}
.stat-header .bold {
	font-size: 5.6rem;
}
.stat-header .extra {
	font-size: 2.2rem;
	font-weight: 800;
}
.stat-header .extra {
	line-height: 0;
	float: right;
	padding-right: 30px;
}
#statistics {
	position: relative;
	padding-bottom: 25px;
}
#statistics:before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	background-color: rgb(90, 24, 28);
	height: 2px;
	width: 100%;
}
#statistics:after {
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	background-color: rgb(90, 24, 28);
	height: 2px;
	width: 100%;
}
/*SLIDER*/
.slider {
	padding-bottom: 20px;
	height: 847px;
}

/*TRIANGLE TEXT*/
.slider .tr-text {
	position: absolute;
	text-align: center;
	color: #fcfbf9;
	font-size: 2.4rem;
	top: 30px;
	width: 363px;
}
.slider .more {
	margin-top: 10px;
}
.slider .circle {
	border: 1px solid;
	border-radius: 50%;
	display: inline-block;
	width: 10px;
	height: 10px;
	top: 20px;
}
.slider .triangle-bottom .tr1 .tr-text,
.slider .triangle-bottom .tr3 .tr-text,
.slider .triangle-top .tr4 .tr-text,
.slider .triangle-top .tr5 .tr-text {
	top: initial;
	bottom: 15px;
	width: 76%;
	background-color: rgb(255, 255, 255);
	opacity: 0.66;
	left: 12%;
	padding: 0 10px;
}
.triangle-bottom .tr1 .tr-text span,
.triangle-bottom .tr3 .tr-text span,
.triangle-top .tr4 .tr-text span,
.triangle-top .tr5 .tr-text span {
	color: #472806;
	font-weight: bold;
}
.slider .tr-text span.col-left {
	font-size: 2.9rem;
}
.slider .tr-text span.col-left.extra {
	font-weight: 800;
}
.slider .triangle-top {
	position: relative;
	height: 50%;
	width: 100%;
}
.triangle-top .tr1 {
	background: url(../img/triangle/tr1.png) no-repeat;
	position: absolute;
	top: 0;
	max-width: 32%;
	background-size: 100%;
}
.triangle-top .tr2 {
	background: url(../img/triangle/tr2.png) no-repeat;
	position: absolute;
	left: 33%;
	top: 0;
	max-width: 32%;
	background-size: 100%;
}
.triangle-top .tr3 {
	background: url(../img/triangle/tr3.png) no-repeat;
	position: absolute;
	left: 65.5%;
	top: 0;
	max-width: 32.2%;
	background-size: 100%;
}
.triangle-top .tr4 {
	background: url(../img/triangle/tr4.png) no-repeat;
	position: absolute;
	left: 16.8%;
	bottom: 0;
	max-width: 31.5%;
	background-size: 100%;
}
.triangle-top .tr5 {
	background: url(../img/triangle/tr5.png) no-repeat;
	position: absolute;
	left: 49%;
	bottom: 0;
	max-width: 32%;
	background-size: 100%;
}
.slider .triangle-arrow {
	position: relative;
	font-size: 6rem;
	z-index: 2;
}
.slider .triangle-arrow a {
	text-decoration: none;
	color: #321d04;
}
.slider .triangle-arrow .icon-slider_l {
	position: absolute;
	top: -3rem;
	left: 0;
}
.slider .triangle-arrow .icon-slider_r {
	position: absolute;
	top: -3rem;
	right: 0;
}
.slider .triangle-bottom {
	position: relative;
	height: 50%;
	width: 100%;
	margin-top: 3px;
}
.triangle-bottom .tr1 {
	background: url(../img/triangle/tr-2-1.png) no-repeat;
	position: absolute;
	bottom: 0;
	max-width: 33%;
	background-size: 100%;
}
.triangle-bottom .tr2 {
	background: url(../img/triangle/tr-2-2.png) no-repeat;
	position: absolute;
	left: 32.65%;
	bottom: 0;
	max-width: 32%;
	background-size: 100%;
}
.triangle-bottom .tr3 {
	background: url(../img/triangle/tr-2-3.png) no-repeat;
	position: absolute;
	left: 65.4%;
	bottom: 0;
	max-width: 32.5%;
	background-size: 100%;
}
.triangle-bottom .tr4 {
	background: url(../img/triangle/tr-2-4.png) no-repeat;
	position: absolute;
	left: 16.95%;
	top: 0;
	max-width: 31.5%;
	background-size: 100%;
}
.triangle-bottom .tr5 {
	background: url(../img/triangle/tr-2-5.png) no-repeat;
	position: absolute;
	left: 49%;
	top: 0;
	max-width: 32%;
	background-size: 100%;
}

/*DETAILS*/
.details {
	height: 821px;
	position: relative;
}
.details-bg {
	background-image: url(../img/details-bg.png);
	background-repeat: no-repeat;
	position: absolute;
	height: 100%;
	opacity: .51;
	width: 100%;
}
.details-arm {
	background-image: url(../img/armchair.png);
	background-repeat: no-repeat;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 10px;
}
.block-details {
	border: 5px solid rgb(221, 135, 88);
	width: 85%;
	height: 856px;
	margin: 35px auto 0 auto;
	position: relative;
	overflow: hidden;
}
.details .top {
	padding-top: 30px;
}
.details blockquote {
	font-size: 4.6rem;
	color: #6d2504;
	font-weight: bold;
}
.details blockquote i {
	font-size: 2rem;
}
.details blockquote i.icon-second_q {
	padding-top: 0;
	transform: matrix( .95,0,0,0.67,25,0);
}
.details blockquote i.icon-first_q {
	transform: matrix( .95,0,0,0.67,-25,0);
}
#details-block {
	padding-top: 55px;
	padding-right: 50px;
}
#details-block .block {
	padding-bottom: 100px;
}
.block-details .icon-metro {
	vertical-align: super;
	padding-right: 10px;
}
.block-details .block {
	font-weight: normal;
	color: #4f1a1d;
	font-size: 1.9rem;
}
.block-details .block-img {
	padding-left: 10px;
	padding-right: 15px;
	padding-bottom: 20px;
	color: #0a0a09;
}
.block-details .block-img#metro {
	padding-left: 0;
}
.block-details .block-description {
	padding-left: 5px;
}
.block-details .block-description:after {
	background-color: rgb(85, 85, 85);
	height: 1px;
	width: 170px;
	margin-left: -30px;
}

.block-details .block-img {
	border-right: 1px solid rgb(85, 85, 85);
}

/*TAKE-PART*/
.take-part {
	margin-top: 100px;
	position: relative;
	height: 909px;
}
.take-part .content {
	width: calc(100% - 260px);
	margin: auto;
	position: relative;
	height: 100%;
}
.take-part .take-bg {
	background-image: url(../img/take-part-bg.png);
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	position: absolute;
	opacity: .48;
}
.take-part .take-table {
	background-image: url(../img/take-table.png);
	background-repeat: no-repeat;
	width: 898px;
	right: 0;
	bottom: 0;
	height: 899px;
	position: absolute;
}
.take-part .take-female {
	position: absolute;
	width: 55%;
	right: 10px;
	bottom: 0;
}

/*FORM_3*/
#form_3 {
	border-radius: 11px;
	background-color: rgba(150, 192, 210, .83);
	max-width: 425px;
	height: 514px;
	color: #fdf8f8;
}
#form_3 .header-block {
	position: relative;
	padding-top: 30px;
	padding-bottom: 20px;
	margin: auto;
}
#form_3 .bold {
	font-weight: bold;
	font-size: 4.8rem;
}
#form_3 .medium {
	font-weight: 500;
	font-size: 3rem;
}
#form_3 .medium a{
	color: #fdf8f8;
}

#form_3 input {
	font-weight: 500;
	font-size: 2.4rem;
	padding: 17px 10px;
	width: 85%;
	margin-top: 5px;
	background-color: rgb(237, 237, 237);
	border: none;
}
#form_3 input::-webkit-input-placeholder{
	color: #7b7878;
}
#form_3 .btn-red {
	background-color: rgb(193, 27, 53);
	padding: 26px 17px;
	color: #fefefb;
	font-size: 3.6rem;
	margin-top: 18px;
	width: 229px;
	margin-bottom: 0;
}
.take-part .join {
	position: absolute;
	width: 100%;
	color: #fdf8f8;
	bottom: 0;
	padding-top: 40px;
	padding-bottom: 25px;
	border-radius: 10px;
	background-color: rgba(157, 193, 209, .9);
	display: flex;
	justify-content: center;
	align-items: flex-end;
	cursor: pointer;
}
.take-part .join .bold {
	font-size: 3.6rem;
}
.take-part .join .extra {
	font-size: 4.8rem;
}
.take-part .join i {
	font-size: 6rem;
}
.take-part .join .arrow {
	padding: 0 60px;
	color: transparent;
	transition: color .5s ease-in-out;
}
.map {
	height: 787px;
	position: relative;
	margin-top: 120px;
}
.map .map-bg {
	background-image: url(../img/map.png);
	background-repeat: no-repeat;
	position: absolute;
	height: 100%;
	width: 100%;
	margin-top: 140px;
}
.map .wrapp {
	width: calc(100% - 300px);
	height: 860px;
	margin: auto;
	border: 5px solid rgba(234, 97, 23, .43);
	position: relative;
}
.location {
	padding-top: 65px;
	width: 45%;
	z-index: 1;
	margin: auto;
}
.location .bold {
	font-size: 3.6rem;
	color: #3c3b35;
}
.location .medium {
	font-size: 1.8rem;
	color: #5b5a51;
	padding-top: 40px;
}

.footer {
	background-color: rgb(97, 35, 39);
	color: #f1e9b9;
	margin-top: 160px;
	height: 265px;
}
.footer .footer-title {
	margin: 35px auto;
}
.footer .footer-content {
	margin-top: 20px;
	font-weight: 600;
	font-size: 2rem;
}
.footer .extra {
	font-size: 2.4rem;
}
.footer-icons, .flex-footer {
	display: flex;
	justify-content: space-between;
}
.footer-logo {
	margin-top: 20px;
}


.map .pointer {
	border: 3px solid rgb(215, 142, 63);
	background-color: rgba(255, 255, 255, .55);
	width: 140px;
	height: 26px;
	color: #7b7470;
	position: absolute;
}
.map .pointer .bold {
	font-size: 1.8rem;
}
.map .point {
	content: '';
	display: block;
	background-color: rgb(215, 142, 63);
	border: 6px solid;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	margin-top: 107px;
	margin-left: 57px;
}

.map .pointer:after {
	content: '';
	display: block;
	width: 1px;
	top: 20px;
	height: 108px;
	left: 50%;
	position: absolute;
	background: rgb(215, 142, 63);
}

.map .pointer.park {
	margin-left: 5%;
	margin-top: 280px;
}
/*market*/
.map .pointer.market {
	left: 31%;
	top: 300px;
}
.map .pointer.market:after {
	height: 41px;
}
.map .market .point {
	margin-top: 40px;
}
/*MC*/
.map .pointer.mc {
	margin-left: 55.5%;
	margin-top: 280px;
}
.map .pointer.mc:after {
	height: 111px;
}
.map .mc .point {
	margin-top: 110px;
}
/*coffee*/
.map .pointer.coffee {
	margin-left: 55.5%;
	margin-top: 550px;
}
.map .pointer.coffee:after {
	height: 170px;
}
.map .coffee .point {
	margin-top: 170px;
}
/*open1969*/
.map .pointer.open1969 {
	margin-left: 82%;
	margin-top: 250px;
	color: #a34711;
	height: 28px;
}
.map .pointer.open1969 .extra {
	font-size: 1.8rem;
}
.map .pointer.open1969:after {
	height: 211px;
	top: 22px;
}
.map .open1969 .point {
	margin-top: 211px;
}

.overlay {
	position: fixed;
	background-color: rgba(0, 0, 0, .5);
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 99;
}
.modal {
	width: 65%;
	height: auto;
	position: relative;
	background-color: rgb(249, 246, 214);
	border-radius: 14px;
	margin: 25px auto;
}
.modal img {
	position: absolute;
	width: 100%;
	font-weight: 600;
	left: 0;
	opacity: .32;
}
.modal-header, 
.modal-footer {
	background: url(../img/modal-header.png) top center;
	height: 138px;
	color: #fcfcfc;
	padding-top: 25px;
	line-height: .8;
	background-size: auto;
}
.modal-footer {
	background: url(../img/modal-header.png) bottom center;
	background-size: auto;
	padding-top: 45px;
	bottom: 0
}
.modal h1 {
	font-size: 4.8rem;
}
.modal h2 {
	font-size: 4rem;
}
.modal h3 {
	font-size: 3.6rem;
}
.modal-content {
	color: #5e191d;
	height: 300px;
	padding-top: 130px;
}
.close {
	position: absolute;
	right: -35px;
	top: -15px;
	width: 31px;
	height: 31px;
	border: 2px solid rgb(243, 238, 189);
	border-radius: 50%;
	background: url(../img/icons/close.png) no-repeat center center;
	background-color: rgba(255, 255, 255, .66);
}

			/*MEDIA*/
@media (max-width: 359px){
	#btn-menu img {
		display: inherit;
	}
	header img {
		display: none;
	}
	html {
		font-size: 6px;
	}
	.why-we blockquote {
		font-size: 2.5rem;
		margin: 10px;
	}
	.why-we .block-description {
		font-size: 1.5rem;
	}
	.stat-header .bold {
		font-size: 3rem;
	}
	.take-part .join .bold,
	.take-part .join .extra {
		font-size: 2rem;
	}
	header #adress {
		display: none;
	}
	.office .body-office {
		font-size: 1.4rem;
	}
	.modal {
		width: 75%;
	}
	.modal h1 {
		font-size: 3.8rem;
	}
	.modal h2 {
		font-size: 3rem;
		padding-top: 10px;
	}
}

@media (min-width: 360px) and (max-width: 767px) {
	.office .body-office {
		font-size: 2rem;
	}
	#btn-menu img {
		display: inherit;
	}
	header img, header #adress,
	.why-we img, .statistic .stat-footer,
	#reviews, #follow {
		display: none;
	}
	.content-header .right-block {
		margin-right: 35px;
	}
	.menu ul>li {
		margin: 23px auto;
	}
	.step .romb {
		left: 43%;
	}
	.why-we .block-content.line:after {
		right: -38%;
	}
	.why-we .block-content.line:before {
		left: -38%;
	}
	.why-we .block-content.line:before, .why-we .block-content.line:after {
		width: 45%;
	}
	#details-block .block,
	.why-we .block {
		padding-bottom: 55px;
	}
	.adv-img .col-right{
		float: left;
	}
	.content .wrapper {
		width: calc(100% - 15px);
	}
	.why-we blockquote {
		font-size: 3.5rem;
		margin: 15px;
	}
	.why-we .block-description {
		font-size: 1.5rem;
	}
	.stat-header .bold {
		font-size: 4rem;
	}
	.take-part .join .bold,
	.take-part .join .extra {
		font-size: 3rem;
	}
	#office1, #office3 {
		right: 5px;
	}
	#office2 {
		left: 5px;
	}
	.office-block, .office-content {
		height: 450px;
	}
	.office-content,
	.block-details,
	.map .wrapp {
		width: 90%;
		border-width: 2px;
	}
	.office-content aside {
		top: 20px;
		width: 80%;
	}
	.female {
		left: -40px;
	}
	.statistic .stat-block {
		height: 150px;
	}
	#statistics {
		margin-top: 20px;
	}
	.statistic .stat-header {
		padding-top: 25px;
	}
	#details .col-right{
		float: left;
	}
	.details blockquote i.icon-second_q {
		transform: matrix( .95,0,0,0.67,15,0);
	}
	#details-block {
		padding-right: 0px;
	}
	.take-part .content {
		width: inherit;
	}
	#form_3 {
		width: 95%;
		margin: auto;
	}
	.take-part {
		height: 785px;
		overflow: hidden;
	}
	.take-part .join .arrow {
		padding: 0 5px;
	}
	.take-part .content {
		height: 95%;
	}
	.map {
		padding-top: 20px;
		margin-top: 0;
		height: 60%;
	}
	.map .map-bg {
		height: 85%;
		margin-top: 100px;
	}
	.map .wrapp {
		height: 470px;
	}
	.footer {
		margin-top: 20px;
	}
	.modal {
		width: 85%;
	}
	.modal h1 {
		font-size: 4rem;
	}
	.modal h2 {
		font-size: 3rem;
		padding-top: 10px;
	}
}

@media (min-width: 440px) {
	header #adress {
		display: inherit;
	}
}

@media (min-width: 768px) and (max-width: 979px) {
	header img.menu-img {
		display: initial;
	}
	#reviews {
		display: none;
	}
	#advantage .content .adv-cite,
	#advantage .content .adv-img {
		float: none;
	}
	.slider {
		height: 635px;
	}
	#details .det-cite,
	#details .det-img {
		float: none;
	}
	#details-block {
		padding: 0;
	}
	.why-we blockquote {
		margin: 40px auto;
	}
	.details blockquote i.icon-second_q,
	.details blockquote i.icon-first_q {
		transform: matrix( .95,0,0,0.67,-0,0);
	}
	#details-block .block {
		padding-bottom: 30px;
	}
	.statistic span {
		font-size: 1.7rem;
	}
	.statistic .stat-footer {
		border: 0;
	}
	.step .romb {
		left: 50%;
	}
	.office-content aside {
		right: -15%;
	}
	.take-part .join .arrow {
		padding: 0 15px;
	}
}
/* Большой дисплей */

@media (max-width: 1200px) {
	.slider .triangle-top,
	.slider .triangle-bottom {
		height: 40%;
	}
	.slider .tr-text {
		font-size: 2rem;
	}
	.statistic span {
		font-size: 1.7rem;
	}
	.pointer {
		display: none;
	}
}