
.icon-arrow_right:before { content: '\e801'; } /* '' */
.icon-slider_l:before { content: '\e802'; } /* '' */
.icon-slider_r:before { content: '\e803'; } /* '' */
.icon-clean:before { content: '\e804'; } /* '' */
.icon-cup:before { content: '\e805'; } /* '' */
.icon-second_q:before { content: '\e806'; } /* '' */
.icon-conversation:before { content: '\e807'; } /* '' */
.icon-metro:before { content: '\e808'; } /* '' */
.icon-pc:before { content: '\e809'; } /* '' */
.icon-clock:before { content: '\e80a'; } /* '' */
.icon-first_q:before { content: '\e80b'; } /* '' */
.icon-book:before { content: '\e80c'; } /* '' */
.icon-people:before { content: '\e80d'; } /* '' */
.icon-discount:before { content: '\e80e'; } /* '' */
.icon-hands:before { content: '\e80f'; } /* '' */